@font-face {
  font-family:"Fanwood";
  src:url("../fonts/fanwood-webfont.eot?") format("eot"),
      url("../fonts/fanwood-webfont.woff") format("woff"),
      url("../fonts/fanwood-webfont.ttf") format("truetype"),
      url("../fonts/fanwood-webfont#Fanwood-Webfont") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"Fanwood Italic";
  src:url("../fonts/fanwood_italic-webfont.eot?") format("eot"),
      url("../fonts/fanwood_italic-webfont.woff") format("woff"),
      url("../fonts/fanwood_italic-webfont.ttf") format("truetype"),
      url("../fonts/fanwood_italic-webfont#Fanwood_Italic-Webfont") format("svg");
  font-weight:normal;
  font-style:italic;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background: #efefef;
  font-family: 'Fanwood', serif;
}

i {
  font-style: italic;
}

#wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 600px;
  left: 50%;
}

#editor {
  position: relative;
  left: -50%;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0);
  line-height: 1.5;
  outline: none;
  border: 0;
  font-family: 'Fanwood', serif;
  font-size: 20pt;
  padding-top: 20px;
  overflow-y: scroll;
}
